<a href="https://colab.research.google.com/github/nayamardian/belajar-ci-tugas/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [18]:
# baca dataset
df = pd.read_csv('/content/drive/MyDrive/datasets/jmlpenduduk-2022_with_missing_value(1).csv')

# tampilkan 5 baris pertama
df.head()

        Nama Provinsi  Laki-laki  Perempuan       Total
0            11. ACEH  2715386.0  2692469.0   5407855.0
1  12. SUMATERA UTARA        NaN  7530213.0  15115206.0
2  13. SUMATERA BARAT  2841802.0  2798827.0   5640629.0
3            14. RIAU  3383451.0  3230933.0         NaN
4           15. JAMBI  1849269.0  1781867.0   3631136.0

In [19]:
# liat struktur data
df.info()

# cek jumlah missing value per kolom
print("\nMissing value per kolom:")
print(df.isnull().sum())

# biar lebih jelas, tampilkan baris yg ada missing value
df[df.isnull().any(axis=1)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nama Provinsi  35 non-null     object
 1   Laki-laki      28 non-null     float64
 2   Perempuan      29 non-null     float64
 3   Total          28 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.2+ KB

Missing value per kolom:
Nama Provinsi    0
Laki-laki        7
Perempuan        6
Total            7
dtype: int64

                    Nama Provinsi   Laki-laki  Perempuan       Total
1              12. SUMATERA UTARA         NaN  7530213.0  15115206.0
3                        14. RIAU   3383451.0  3230933.0         NaN
5            16. SUMATERA SELATAN         NaN  4245396.0   8657008.0
8   19. KEPULAUAN BANGKA BELITUNG    767582.0        NaN   1494621.0
11                 32. JAWA BARAT  25067226.0        NaN  49405808.0
13              34. DI YOGYAKARTA   1862085.0  1899785.0         NaN
15                     36. BANTEN         NaN  6010944.0  12251985.0
16                       51. BALI   2219607.0  2195457.0         NaN
18        53. NUSA TENGGARA TIMUR   2733049.0  2733236.0         NaN
19           61. KALIMANTAN BARAT   2845114.0  2696262.0         NaN
21         63. KALIMANTAN SELATAN         NaN  2066175.0   4182080.0
22           64. KALIMANTAN TIMUR         NaN  1854655.0   3859783.0
23           65. KALIMANTAN UTARA         NaN   344373.0    727755.0
24             71. SULAWESI UTARA         NaN  1300185.0   2659543.0
26           73. SULAWESI SELATAN   4581647.0        NaN   9225747.0
27          74. SULAWESI TENGGARA   1366872.0        NaN   2701661.0
28                  75. GORONTALO    601585.0   591152.0         NaN
29             76. SULAWESI BARAT    739649.0   718957.0         NaN
32                91. PAPUA BARAT    622886.0        NaN   1183307.0
33                      94. PAPUA   2348882.0        NaN   4418581.0

In [20]:
# isi missing value secara logis
df['Total'] = df['Total'].fillna(df['Laki-laki'] + df['Perempuan'])
df['Laki-laki'] = df['Laki-laki'].fillna(df['Total'] - df['Perempuan'])
df['Perempuan'] = df['Perempuan'].fillna(df['Total'] - df['Laki-laki'])

In [21]:
print("Missing value setelah diisi:")
print(df.isnull().sum())

df.head(10)

Missing value setelah diisi:
Nama Provinsi    0
Laki-laki        0
Perempuan        0
Total            0
dtype: int64

                   Nama Provinsi  Laki-laki  Perempuan       Total
0                       11. ACEH  2715386.0  2692469.0   5407855.0
1             12. SUMATERA UTARA  7584993.0  7530213.0  15115206.0
2             13. SUMATERA BARAT  2841802.0  2798827.0   5640629.0
3                       14. RIAU  3383451.0  3230933.0   6614384.0
4                      15. JAMBI  1849269.0  1781867.0   3631136.0
5           16. SUMATERA SELATAN  4411612.0  4245396.0   8657008.0
6                   17. BENGKULU  1053196.0  1006896.0   2060092.0
7                    18. LAMPUNG  4697217.0  4479329.0   9176546.0
8  19. KEPULAUAN BANGKA BELITUNG   767582.0   727039.0   1494621.0
9             21. KEPULAUAN RIAU  1112152.0  1067668.0   2179820.0

In [23]:
df.to_csv('/content/drive/MyDrive/datasets/penduduk_clean.csv', index=False)
print("dataset bersih udah disimpan ke drive ✅")

dataset bersih udah disimpan ke drive ✅